# Entornos virtuales
venv/
.env

# Archivos de credenciales
credentials/
*.json

# Archivos de configuración locales
__pycache__/
*.py[cod]
*.log

# Archivos de datos temporales
data/*.csv
data/*.xlsx
data/*.json

# Archivos de sistema (Mac)
.DS_Store

# Archivos de salida o builds
dist/
build/
*.egg-info/

# Jupyter y notebooks
*.ipynb_checkpoints
